& {
  padding: 2rem 6rem;
  display: flex;
  background-color: black;
  color: gray;

  &__header {
    font-size: 20px;
    margin-bottom: 30px;
    color: white;
  }

  &__text {
    font-size: 12px;
    color: gray;
  }

  &__list {
    list-style: circle;
    padding-left: 10px;
  }

  &__list-item {
    transition: color .25s;
    margin-bottom: 5px;

    &:hover {
      cursor: pointer;
      color: white;
    }
  }

  &__icon {
    font-size: 15px;
    color: white;
  }
}
