&__newsletter-form {
  max-width: fit-content;
}

&__newsletter-email {
  border: 1px solid white !important;
}

&__newsletter-submit {
  border: 1px solid white !important;

  &:hover {
    cursor: pointer;
  }
}
