.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 200px;
  background-color: $purple-gray;

  &__part {
    flex-basis: 80%;
    margin: 50px 35px 0;
    min-height: 100px;

    @media screen and (min-width: $md-breakpoint) {
      flex-basis: 40%;
    }

    @media screen and (min-width: $xxl-breakpoint) {
      flex-basis: 20%;
    }
  }

  &__part-header {
    color: $gray;
    margin-bottom: 20px;
    text-align: center;

    &:hover {
      cursor: default;
    }

    @media screen and (min-width: $md-breakpoint) {
      text-align: left;
    }
  }

  &__part-content {
    color: $white;

    &--products {
      flex-wrap: wrap;
    }
  }

  &__stretchable-container {
    display: flex;
    justify-content: center;

    @media screen and (min-width: $md-breakpoint) {
      justify-content: flex-start;
    }
  }

  &__content-element {
    transition: color $default-hover-animation-time;
    color: white;

    &:hover {
      cursor: pointer;
      color: $gray;
    }

    &--tooltip-label {
      min-width: 140px;
    }
  }

  &__logo-img {
    width: 200px;
    height: auto;
  }

  &__tooltip-prompt {
    margin-left: 20px;
  }

  &__product-cathegory {
    margin: 0 15px 0 0;
  }

  &__contact-data {
    display: flex;
    justify-content: center;

    @media screen and (min-width: $md-breakpoint) {
      justify-content: flex-start;
    }
  }

  &__social {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  &__social-icon {
    font-size: 20px;
  }

  &__copyright {
    flex-basis: 100%;
    padding: 50px 15px 30px;
    text-align: center;
    color: hsla(0% 0% 100% / 40%);
  }

  &__copyright-text {
    &--top {
      margin-bottom: 10px;

      @media screen and (min-width: $xs-breakpoint) {
        margin-bottom: 0;
      }
    }
  }
}
