.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  z-index: 4;
  background-color: $white;
  box-shadow: $default-box-shadow;

  &__menu {
    @include flex-container($justify-content: start);
    flex-basis: 85%;
  }

  &__menu-list {
    display: flex;
    margin-left: 5px;
  }

  &__list-item {
    &:not(:first-child, :last-child) {
      margin: 0 10px;
    }
  }

  &__item-link {
    font-weight: 300;
    font-size: 15px;
    color: $gray;
    transition: color .3s;

    &:hover {
      color: black;
    }
  }

  &__search-engine {
    @include flex-container;
    flex-basis: 65%;
  }

  &__logo {
    flex-basis: 20%;
  }

  &__logo-img {
    width: 100%;
    height: auto;
  }

  &__authorization {
    @include flex-container;
    flex-basis: 15%;
  }

  &__authorization-action {
    margin: 0 5px;

    &:hover {
      cursor: pointer;
    }
  }

  &__basket {
    @include flex-container;
    flex-basis: 15%;
    padding: 0  0 15px;
  }

  &__basket-price {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
  }

  &__basket-icon {
    font-size: 25px;

    &:hover {
      cursor: pointer;
    }
  }
}
