.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  max-width: $max-page-width;
  margin: 0 auto;
  padding: 5px;
  background-color: $white;
  box-shadow: $default-box-shadow;

  @media screen and (min-width: $lg-breakpoint) {
    min-height: 130px;
  }
}

.top-bar-elements {
  display: flex;
  flex-wrap: wrap;

  &__logo {
    flex-basis: 85%;

    @media screen and (min-width: $lg-breakpoint) {
      flex-basis: 25%;
    }
  }

  &__logo-img {
    width: 100%;
    max-width: 230px;
    height: auto;
  }

  &__hamburger-menu-wrapper {
    @include flex-container;
    flex-basis: 15%;
  }

  &__hamburger-menu-icon {
    font-size: 25px;
  }

  &__search-engine {
    @include flex-container;
    flex-basis: 50%;
  }

  &__authorization {
    @include flex-container($justify-content: end);
    flex-basis: 25%;
    padding-right: 50px;
    margin-bottom: 5px;
  }

  &__authorization-action {
    margin: 0 5px;
  }

  &__authorization-action-link {
    transition: color $default-hover-animation-time;

    &:hover {
      cursor: pointer;
      color: $gray;
    }
  }

  &__avatar {
    @include flex-container;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;

    &:hover {
      cursor: pointer;
    }
  }

  &__menu {
    @include flex-container($justify-content: start);
    flex-basis: 70%;
  }

  &__menu-list {
    display: flex;
    margin-left: 5px;
  }

  &__list-item {
    &:not(:first-child, :last-child) {
      margin: 0 10px;
    }
  }

  &__item-link {
    font-weight: 300;
    font-size: 15px;
    color: $black;
    transition: color $default-hover-animation-time;

    &:hover {
      color: $gray;
    }
  }

  &__basket {
    @include flex-container($justify-content: end);
    flex-basis: 30%;
    padding: 0  0 15px;
    padding-right: 50px;
  }

  &__basket-price {
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
  }

  &__basket-icon {
    font-size: 25px;

    &:hover {
      cursor: pointer;
    }
  }

  &--drawer {
    padding: 15px;

    .top-bar-elements__authorization {
      display: flex;
      flex-wrap: wrap;
    }

    .top-bar-elements__menu-list {
      display: flex;
      flex-wrap: wrap;
      margin-left: 5px;
    }

    .top-bar-elements__list-item {
      flex-basis: 100%;
      margin: 0;
    }

    .top-bar-elements__basket {
      @include flex-container($justify-content: start);
      flex-basis: 100%;
    }

    .top-bar-elements__search-engine {
      @include flex-container($justify-content: start);
      flex-basis: 100%;
      max-width: 200px;
      margin: 0;
    }

    .text-input--search-engine {
      margin: 0;
      flex-basis: 100%;
    }

    .top-bar-elements__divider {
      width: 100%;
      margin: 7.5px 0;
      border-bottom: .7px dashed $gray;
    }
  }
}
