.user-panel {
  width: 80%;
  margin: 15px auto;
  display: flex;

  &__action-toggler-wrapper {
    flex-basis: 30%;
    min-height: 100px;
  }

  &__toggle-action-tile {
    @include flex-container;
    height: 50px;
    border: 1px solid $black;
  }

  &__action-tile-link {
    font-weight: bold;
    transition: color $default-hover-animation-time;

    &:hover {
      cursor: pointer;
      color: $gray;
    }
  }

  &__action-wrapper {
    flex-basis: 70%;
    min-height: 100px;
  }

  .history {
    &__header {
      text-align: center;
      margin-bottom: 30px;
      color: $gray;
    }

    &__table {
      margin: 0 auto;
      border: 1px solid $black;
    }

    &__table-col {
      padding: 10px;
      border: 1px solid $black;

      &--thead {
        font-weight: bold;
      }
    }
  }
}
