.modal {
  @include flex-container($align-items: start);

  margin-top: 150px;
  overflow: scroll;
  max-height: 500px;

  &__content-wrapper {
    flex-basis: 90%;
    padding: 1.5rem;
    background-color: $white;
    border-radius: $default-box-border-radious;
    box-shadow: $default-box-shadow;
    text-align: center;
    outline: none;

    @media screen and (min-width: $md-breakpoint) {
      flex-basis: 60%;
    }

    @media screen and (min-width: $xl-breakpoint) {
      flex-basis: 50%;
    }
  }

  &__header {
    margin: .5rem 0 1rem;
    line-height: 1.3;
    color: $black;

    @media screen and (min-width: $xs-breakpoint) {
      @include flex-container;
    }
  }

  &__buttons-wrapper {
    display: flex;
    justify-content: center;
  }

  // Come back to topic, how to use & in such situaltion
  &--loading {
    .modal__loader {
      color: $gray;
    }
  }

  &--error {
    .modal__error-icon {
      font-size: 30px;
      color: $red;
    }
  }

  &--success {
    .modal__success-icon {
      font-size: 30px;
      color: $green;
    }
  }
}
