// Breakpoints
$xs-breakpoint: 567px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

// Colors
$red: #c9252e;
$white: #fff;
$light-gray: #f0f3f8;
$gray: #869cb6;
$green: #6ba242;
$black: #000;
$purple-gray: #202020;
$light-gray: rgb(134 156 182);

// Sizes
$max-page-width: 1920px;

// Fonts
$default-font-style: roboto, helvetica, arial, sans-serif;
$default-font-size: 15px;
$default-font-color: $black;
$default-font-weight: 300;
$default-line-height: 24px;

// Animations
$default-hover-animation-time: .2s;

// Various
$default-border-radious: 6px;
$default-button-padding: 5px 10px;
$default-black-bottom-border: 1px solid rgba(0 0 0 / 40%);
