// Breakpoints
$xs-breakpoint: 567px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

// Colors
$red: #c9252e;
$white: #fff;
$gray: #f0f3f8;
$green: #6ba242;
$black: #000;
$purple-gray: #202020;
$light-gray: rgb(134 156 182);

// Sizes
$max-page-width: 1920px;

// Fonts
$default-font-style: roboto, helvetica, arial, sans-serif;
$default-font-size: 15px;
$default-font-color: $black;
$default-font-weight: 300;
$default-line-height: 24px;

// Background
$default-background-color: white;

// Footer
$footer-background-color: $purple-gray;
$footer-header-color: $light-gray;
$footer-content-color: $white;
