.products {
  width: 100%;
  min-height: 400px;
  background-color: $white;

  &__header {
    text-align: center;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
