.products {
  width: 100%;
  min-height: 400px;
  background-color: $white;

  &__header {
    margin: 15px 0;
    font-size: 25px;
    text-align: center;

    @media screen and (min-width: $lg-breakpoint) {
      font-size: 30px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
