.user-panel {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $xl-breakpoint) {
    margin: 15px auto;
  }

  @media screen and (min-width: $xl-breakpoint) {
    width: 80%;
  }

  &__action-toggler-wrapper {
    flex-basis: 100%;
    margin-bottom: 30px;

    @media screen and (min-width: $xs-breakpoint) {
      display: flex;
    }

    @media screen and (min-width: $xl-breakpoint) {
      flex-basis: 30%;
      display: block;
      margin-right: 50px;
    }
  }

  &__toggle-action-tile {
    @include flex-container;
    flex-basis: 100%;
    height: 50px;
    margin: 5px;
    border: 1px solid $light-gray;
    background-color: $white;
    border-radius: $default-box-border-radious;
    transition: color, background-color, $default-hover-animation-time;

    &:hover {
      background-color: $light-gray;

      .user-panel__action-tile-link {
        color: $white;
      }
    }
  }

  &__action-tile-link {
    color: $gray;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }

  &__action-wrapper {
    flex-basis: 100%;

    @media screen and (min-width: $xl-breakpoint) {
      flex-basis: calc(70% - 50px);
    }
  }

  .history {
    &__header {
      text-align: center;
      margin-bottom: 30px;
      color: $gray;
    }

    &__table {
      width: 100%;
      margin: 0 auto;
      border: 1px solid $black;
    }

    &__table-row {
      display: flex;
      border: 1px solid $black;
    }

    &__table-col {
      @include flex-container;
      border: 1px solid $black;
      padding: 5px;

      &:first-of-type {
        flex-basis: 35%;
      }

      &:nth-of-type(2) {
        flex-basis: 30%;
      }

      &:nth-of-type(3) {
        flex-basis: 35%;
      }

      &--thead {
        font-weight: bold;
        text-align: center;
        border: none;
      }

      &--invoice-download {
        &:hover {
          cursor: pointer;
        }
      }
    }

    &__tooltip-wrapper {
      @include flex-container;
    }

    &__tooltip-prompt {
      margin-left: 5px;

      @media screen and (min-width: $xs-breakpoint) {
        margin-left: 10px;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .change-password {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    &__header {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 30px;
      color: $gray;
    }

    &__form {
      @include flex-container;
      flex-wrap: wrap;
      flex-basis: 100%;
      margin: 0 auto;
    }
  }

  .my-details {
    width: 100%;

    &__header {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 30px;
      color: $gray;
    }

    &__input-wrapper {
      @include flex-container;
      flex-wrap: wrap;
    }

    &__input {
      flex-basis: 100%;
      margin: 5px;

      @media screen and (min-width: $xs-breakpoint) {
        flex-basis: 80%;
      }
    }
  }

  .newsletter {
    width: 100%;
    background-color: $white;

    &__header {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 30px;
      color: $gray;
    }

    &__status-header {
      margin-bottom: 10px;
    }

    &__content-wrapper {
      width: 100%;
      margin: 0 auto;

      @media screen and (min-width: $md-breakpoint) {
        width: 80%;
      }
    }

    &__link-to-newsletter {
      color: $gray;
      margin-left: 5px;

      &:hover {
        cursor: pointer;
      }
    }

    &__submit-button {
      margin: 20px 0 0;
    }
  }

  .remove-account {
    width: 100%;

    &__header {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 30px;
      color: $gray;
    }

    &__consequences-text {
      margin: 5px 10px 30px;
    }
  }

  .avatars {
    width: 100%;

    .present-avatars {
      &__header {
        flex-basis: 100%;
        text-align: left;
        margin-bottom: 45px;
        color: $gray;
      }

      &__avatars-list-wrapper {
        margin-bottom: 35px;
      }

      &__avatars-list {
        display: flex;
        flex-wrap: wrap;
      }

      &__list-item-wrapper {
        width: 100px;
        height: 100px;
        margin: 0 15px;
        overflow: hidden;
        border-radius: 100%;

        &:first-of-type {
          margin-left: 0;
        }

        &:hover {
          cursor: pointer;
        }

        &--selected {
          box-shadow: $strong-box-shadow;
        }
      }

      &__list-item {
        width: 100%;
        height: 100%;
      }

      &__submit-button {
        max-width: 450px;
      }
    }
  }
}
