.main {
  @import "about/main.scss";
  @import "products.scss";
  @import "opinions/main.scss";
  @import "register.scss";
  @import "login.scss";
  @import "order.scss";
  @import "thank-you-page.scss";
  @import "not-found.scss";
  @import "user-panel.scss";
}
