.info-modal {
  @include flex-container;

  &__content-wrapper.MuiGrid-container {
    width: 30%;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 4 rgba(0 0 0 70%);
  }

  &__header {
    margin-bottom: 1.5rem;
  }
}
