$icon-storage-path: "#{$storage-url}/icons/icomoon";

@font-face {
  font-family: icomoon;
  src: url("#{$icon-storage-path}/icomoon.eot");
  src:
    url("#{$icon-storage-path}/icomoon.eot"),
    url("#{$icon-storage-path}/icomoon.ttf"),
    url("#{$icon-storage-path}/icomoon.woff"),
    url("#{$icon-storage-path}/icomoon.svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: icomoon, sans-serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-solid::before {
  content: "\e90d";
}

.icon-circle-error::before {
  content: "\e90c";
}

.icon-hamburger-menu::before {
  content: "\e90b";
}

.icon-logo-dpd::before {
  content: "\e90a";
}

.icon-logo-inpost::before {
  content: "\e909";
}

.icon-cash-payment::before {
  content: "\e907";
}

.icon-traditional-transfer::before {
  content: "\e908";
}

.icon-shop-basket::before {
  content: "\e906";
}

.icon-tooltip-prompt::before {
  content: "\e905";
}

.icon-tiktok::before {
  content: "\e901";
}

.icon-twitter::before {
  content: "\e902";
}

.icon-youtube::before {
  content: "\e903";
}

.icon-instagram::before {
  content: "\e904";
}

.icon-facebook::before {
  content: "\e900";
}
