.desktop-menagers {
  &__managers-circle {
    width: 450px;
    height: 450px;
    border-radius: 100%;
    border: 2px dotted $light-gray;
    position: relative;
  }

  &__manager {
    width: 400px;
    height: 150px;
    position: absolute;
    display: flex;

    &--top-left {
      top: 10%;
      left: calc(0% - 300px);
    }

    &--top-right {
      top: 10%;
      right: calc(0% - 300px);

      .desktop-menagers__manager-details-wrapper {
        order: 2;
      }

      .desktop-menagers__manager-picture-wrapper {
        order: 1;
      }
    }

    &--bottom-right {
      bottom: 10%;
      right: calc(0% - 300px);

      .desktop-menagers__manager-details-wrapper {
        order: 2;
      }

      .desktop-menagers__manager-picture-wrapper {
        order: 1;
      }
    }

    &--bottom-left {
      bottom: 10%;
      left: calc(0% - 300px);
    }
  }

  &__manager-details-wrapper {
    flex-basis: 60%;
    margin: 0 10px;
  }

  &__manager-name {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
  }

  &__divider {
    height: 3px;
    background-color: $light-gray;
  }

  &__manager-position {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
  }

  &__manager-description {
    max-height: 100px;
    overflow: scroll;
  }

  &__manager-picture-wrapper {
    flex-basis: 40%;
    border-radius: 100%;
    overflow: hidden;
  }

  &__manager-picture {
    width: 100%;
    height: 100%;
  }
}
