.input {
  height: $default-control-height;
  margin: $default-control-margin;
  padding: $default-control-padding;
  border: $default-gray-bottom-border;
  border-radius: $default-control-border-radious;

  &:focus {
    outline: none;
  }

  &--error {
    border-color: $red;
  }

  &__error {
    flex-basis: 80%;
    color: $red;
  }
}
