.file-input {
  height: $default-control-height;
  margin: $default-control-margin;
  padding: $default-control-padding;
  border: $default-gray-bottom-border;
  border-radius: $default-control-border-radious;
  position: relative;

  &::-webkit-file-upload-button {
    display: none;
  }

  &--register {
    flex-basis: 80%;
  }

  &--error {
    border-color: $red;
  }

  &__error {
    flex-basis: 80%;
    color: $red;
  }
}
