.text-input {
  height: $default-control-height;
  margin: $default-control-margin;
  padding: $default-control-padding;
  border: $default-black-bottom-border;
  border-radius: $default-control-border-radious;

  &:focus {
    outline: none;
  }

  &--newsletter {
    flex-basis: 80%;
  }

  &--login {
    flex-basis: 80%;
  }

  &--register {
    flex-basis: 80%;
  }
}
