.text-area {
  flex-basis: 80%;
  height: 10rem;
  margin: $default-control-margin;
  padding: $default-control-padding;
  border: $default-black-bottom-border;
  border-radius: $default-control-border-radious;
  resize: none;
  font-size: $default-font-size;
  font-family: Arial, sans-serif;
  color: $default-font-color;
  font-weight: $default-font-weight;
  line-height: $default-line-height;

  &:focus {
    outline: none;
  }

  &__error {
    flex-basis: 80%;
    color: $red;
  }
}
