// Bad approach to set container size - in several places I use flex-basis: 80%;

.text-input {
  height: $default-control-height;
  margin: $default-control-margin;
  padding: $default-control-padding;
  border: $default-black-bottom-border;
  border-radius: $default-control-border-radious;

  &:focus {
    outline: none;
  }

  &--newsletter {
    flex-basis: 80%;
  }

  &--login {
    flex-basis: 80%;
  }

  &--register {
    flex-basis: 80%;
  }

  &--search-engine {
    flex-basis: 50%;
  }

  &--error {
    border-color: $red;
  }

  &__error {
    flex-basis: 80%;
    color: $red;
  }
}
