.advertising-box {
  width: 100%;
  min-height: 400px;
  position: relative;
  background-color: yellow;

  @include flex-container;

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;

    &--dimmer {
      z-index: 2;
      // background-color: rgba(0 0 0 70%);
    }

    &--picture {
      z-index: 1;
      background-image: url("#{$storage-url}/images/banner/fotolia_budowlaniec_robotnik.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__text-wrapper {
    width: fit-content;
    height: 100px;
    z-index: 3;
  }

  &__header {
    margin-bottom: 15px;
    font-size: 24px;
    color: white;
  }

  &__text {
    text-align: center;
    color: white;
  }
}
